<div class="card">
  <div
    class="card-body"
    [ngStyle]="{
      'background-color': yourTurn ? 'lightblue' : ''
    }"
  >
    <!-- <h5 class="card-title">{{ player.id }}</h5> -->
    <p class="card-subtitle mb-2 text-muted">{{ player.name }}</p>
    <app-card *ngFor="let card of player.cards; let i = index" [card]="card" [cardIndex]="i" onDiscardClick="onDiscardClick($event)">

    </app-card>
  </div>
  <div class="card-footer text-muted" *ngIf="areYouTheCurrenPlayer">
    <button
      class="btn btn-primary"
      *ngIf="yourTurn"
      (click)="receiveCardFromDeck(playerIndex)"
    >
      Receive
    </button>
  </div>
  <div class="card-footer" *ngIf="!areYouTheCurrenPlayer">
    <button class="btn btn-primary">Guess</button>
    <button class="btn btn-primary">See the card</button>
    <button class="btn btn-primary">Compare</button>
    <button class="btn btn-primary">Discard and pick from deck</button>
    <button class="btn btn-primary">Swap</button>
  </div>
</div>
