<h3>Deck {{ game.deck.length }}</h3>
<div class="row">
  <div class="col-sm-1" *ngFor="let card of game.deck">
    <div class="card" style="width: 15rem;">
      <div class="card-body">
        <h5 class="card-title">{{ card.name }}</h5>
      </div>     
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-3" *ngFor="let player of game.players; let i = index">
    <app-player
      [player]="player"
      [playerIndex]="i"   
      [game]="game"  
    ></app-player>
  </div>
</div>
<h3>
  Discards
</h3>
<div class="row">
  <div class="col-sm-1" *ngFor="let card of game.discards">
    <div class="card" style="width: 15rem;">
      <div class="card-body">
        <h5 class="card-title">{{ card.name }}</h5>
      </div>     
    </div>
  </div>
</div>